@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective {
  perspective: 1000px; /* Adds perspective to the card */
}

.backface-hidden {
  backface-visibility: hidden; /* Hides the back side when not visible */
}

.rotate-y-180 {
  transform: rotateY(180deg); /* Rotates the card to show the back side */
}
